.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    position: relative; /* Ensure the hero is relatively positioned */
}

.hero-text {
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 24px;
    margin: 5px 0;
}

.hero-explore {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
}

.hero-explore img {
    width: 20px;  /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-left: 10px;
}

.corner-controls {
    position: absolute;
    bottom: 20px;  /* Adjust distance from bottom */
    right: 20px;   /* Adjust distance from right */
    display: flex;
    align-items: center;
}

.hero-dots {
    list-style: none;
    padding: 0;
    display: flex;
    margin-right: 20px;
}

.hero-dot {
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.hero-dot.orange {
    background-color: orange;
}

.hero-play {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.hero-play img {
    width: 20px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
    margin-right: 10px;
}

.hero-play p {
    margin: 0;
    font-size: 14px; /* Adjust the font size as needed */
}
